<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
    <meta charset="utf-8">
    <title>Client Side</title>
  </head>
  <body>
    <div id="main">
        <video id="video" playsinline style="-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        display:none">
      </video>
      <canvas id="canvas" width="300" height="300"></canvas>
      <img src="" id="image" width="300" height="300">
    </div>
  </body>
  <script src="bundle.js"></script>
</html>
